/* button {
    border-style: none;
    border-radius: 3px;
    font-family: Marvel;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 1.4rem;
    min-height: 3rem;
    padding: 1rem 6rem;
    display: inline-flex;
    align-items: center;
    background-color: var(--theme-color-grey);
    color: var(--theme-color-light);
    cursor: pointer;
} */

button {
    border-style: none;
}

.button {
    border-radius: 3px;
    font-family: Marvel;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    display: inline-flex;
    height: 40px;
    width: 264px;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-color-grey);
    color: var(--theme-color-light);
    cursor: pointer;
    transition: background-color;
    transition-duration: .5s;
    margin: 0;
    padding: 0;
}

.button-short {
    width: 140px;
}

.dropdown-button {
    transition: background-color;
    transition-duration: .5s;
}

.button:hover {
    background-color: var(--hover-color-grey);
} 

.button-category {
    text-transform: none;
    background-color:transparent;
    color: var(--theme-color-dark);
    font-size: 1rem;
    font-weight: normal;
    text-align: left;
    justify-content: start;
    border: 3px solid transparent;
    height: 20px;
    margin: 0;
    padding: .5rem;
}

.button-category:hover {
    border: 3px solid var(--theme-color-green);
    background-color: transparent;
    /*add transition*/
}

.button-category i {
    padding-left: .5rem;
}

.info-item-1 span {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 0 .8rem 0;
}

.button-green {
    background-color: var(--theme-color-green);
    color: var(--theme-color-dark);
    transition: background-color;
    transition-duration: .5s;
}

.button-green:hover {
    background-color: var(--hover-color-green);
}


