button {
    border-style: none;
}

.button {
    border-radius: 3px;
    font-family: Marvel;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
    display: inline-flex;
    height: 48px;
    width: 264px;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-color-grey);
    color: var(--theme-color-light);
    cursor: pointer;
    transition: background-color;
    transition-duration: .5s;
    margin: 0;
    padding: 0;
}

.button-short {
    width: 140px;
}

.dropdown-button {
    transition: background-color;
    transition-duration: .5s;
}

.button:hover {
    background-color: var(--hover-color-grey);
} 

.button-category {
    text-transform: none;
    background-color:transparent;
    color: var(--theme-color-dark);
    font-size: 1rem;
    font-weight: normal;
    text-align: left;
    justify-content: start;
    border: 3px solid transparent;
    height: 20px;
    margin: 0;
    padding: .5rem;
}

.button-category:hover {
    border: 3px solid var(--theme-color-green);
    background-color: transparent;
}

.button-green {
    background-color: var(--theme-color-green);
    color: var(--theme-color-dark);
    transition: background-color;
    transition-duration: .5s;
}

.button-green:hover {
    background-color: var(--hover-color-green);
}


