.dropdown nav,
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked~nav {
    display: block;
    z-index: 10;
}


.dropdown {
    position: relative;
}

.dropdown > nav {
    position: absolute;
    background-color: var(--theme-color-orange);
    border-radius: 0px 0px 0px 3px;
    top: 68px;
    margin: 0;
    padding: .5rem;
    width: 95vw;
    max-width: 480px;
    right: 0px;
}

.dropdown ul {
    list-style: none;
}

.dropdown-grid {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 1rem;
    align-items: center;
}

.button-category span {
    padding-left: .5rem;
}








