header nav,
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked~nav {
    display: block;
    z-index: 10;
}

.dropdown {
    position: relative;
}

.dropdown > nav {
    position: absolute;
    background-color: var(--theme-color-orange);
    top: 3.2rem;
    width: 100vw;
    margin: auto;
}

.dropdown ul {
    list-style: none;
}

.dropdown ul li {
    padding-bottom: .3rem;
}

.dropdown ul li a span {
    color: var(--theme-color-dark);
    font-family: Marvel;
    font-size: 1.3rem;
}

.button-category:hover {
    border: 2px solid var(--theme-color-turq);
}

.nav-grid {
    display: grid;
    grid-template-columns: 1fr;
}




