.exh-item-1, .exh-item-2, .exh-item-3,
.exh-item-4, .exh-item-5 {
    display: flex;
    flex-direction: column;
    padding: .5rem;
}

.exh-item-1, .exh-item-2, .exh-item-3,
.exh-item-4, .exh-item-5, p {
    padding-top: .5rem;
}

.exh-item-1 {
    background-color: var(--theme-color-green);
}