.explore {
    max-width: 1280px;
    margin: auto;
}

.explore-banner {
    display: flex;
    flex-direction: column;
    padding: 3rem 1.5rem;
    gap: .5rem;
}

.explore-banner h2 {
    padding-bottom: 1rem;
}

.explore-banner p {
    align-self: center;
}

.clubs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 1.5rem .5rem;
}

.holiday, .stars {
    display: flex;
    flex-direction: column;
    border: solid 3px;
    border-radius: 3px;
    height: 630px;
    padding: 1.5rem;
    gap: 1rem;
}

.holiday {
    border-color: var(--theme-color-purple);
}

.stars {
    border-color: var(--theme-color-red);
    height: 100%;
}

.holiday a {
    margin: auto;
}

.holiday img, .stars img {
    width: 100%;
    object-fit: cover;
}

.holiday img {
    aspect-ratio: 4/3;
    max-height: 260px;
}

.stars img {
    aspect-ratio: 3.8 /4;
    max-height: 420px;
}

.kids-item-1, .kids-item-2, .kids-item-3 {
    flex-direction: column;
    padding: 1.5rem 1.5rem;
    margin: 0;
}

figure img {
    order: 2;
}

figure img {
    max-width: 100%;
    aspect-ratio: 5/3;
    object-fit: cover;
}

figcaption {
    font-family: 'Open Sans';
    font-size: 1rem;
    align-self: center;
}

.kids-item-4 {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore img {
    height: ;
}

.explore-info {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.explore-info p {
    max-width: 570px;
    margin: auto;
}

.explore a {
    margin: 4rem 0 0 0;
}

.img-banner {
    margin: 0;
    padding: 0;
}

