.explore {
    max-width: 1280px;
    margin: auto;
}

.kids-banner {
    background-color: var(--theme-color-purple);
    display: flex;
    flex-direction: column;
    padding: 3rem 1.5rem;
    gap: 2rem;
}

.kids-banner h2 {
    padding-bottom: 2rem;
}

.kids-banner p {
    font-size: 1.5rem;
    align-self: center;
}

.clubs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    padding: 3rem 2.5rem;
}

.holiday, .stars {
    display: flex;
    flex-direction: column;
    border: solid 3px;
    border-radius: 3px;
    flex-basis: 25rem;
    flex-shrink: 2;
    flex-grow: 1;
    height: 655px;
    padding: 1.5rem 3rem 2rem 3rem;
    gap: 1rem;
}

.holiday {
    border-color: var(--theme-color-purple);
}

.stars {
    border-color: var(--theme-color-red);
}

.holiday a {
    align-self: center;
}

.holiday img, .stars img {
    width: 100%;
    object-fit: cover;
}

.holiday img {
    aspect-ratio: 4/3;
}

.stars img {
    aspect-ratio: 3.8 /4;
}