footer {
    background-color: var(--theme-color-orange);
    padding: 1rem;
    font-size: 0.8rem;
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

footer ul {
    max-width: 1280px;
    margin: auto;       /*DRY gjelder også header og main*/
    padding: 0;
}

footer nav li {
    list-style: none;
    padding: .5rem;
}

thead th{
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
}

td, th {
    padding-right: 0rem;
}

address {
    font-style: normal;
}

address span {
    padding: 1px 0 1px 1px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, auto);
    gap: 1rem;
}

.footer-item-1, .footer-item-2, 
.footer-item-3, .footer-item-4, 
.footer-item-5, .footer-item-6, 
.footer-item-7 {
    grid-column: 1;
    justify-self: center;
    align-self: end;
}

.footer-item-7 {
    display: inline-flex;
    gap: 1rem;
}
