header {
    background: var(--theme-color-orange);
    color: var(--theme-color-dark);
    font-family: Audiowide;
    position: sticky;
    top: 0;
}

header div {
    max-width: 1280px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;       /*DRY gjelder også header og main*/
    padding-top: 1rem;
}

header > p {
    padding: 0;
    margin: 0;
}

.header-left, .header-right {
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    align-items: end;
}

.header-left {
    justify-content: flex-start;
    padding-left: 1rem;
}

.header-right {
    justify-content: flex-end;
    padding-right: 1rem;
}

a {
    text-decoration: none;
    color: inherit;

}



