header {
    background: var(--theme-color-orange);
    color: var(--theme-color-dark);
    font-family: Audiowide;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: sticky;
    top: 0;
}

header > p {
    padding: 0;
    margin: 0;
}

.header-left, .header-right {
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

.header-left {
    justify-content: start;
    padding-left: 1rem;
}

.header-right {
    justify-content: end;
    padding-right: 1rem;
}

a {
    text-decoration: none;
    color: inherit;

}

