.info-banner {
    max-width: 1280px;
    margin: auto;
    background-color: var(--theme-color-red);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(auto, auto);
    gap: 1rem;
    padding: 1.5rem;
}

.info-banner img {
    max-width: 480px;
    max-height: 338px;
    width: 100%;
    object-fit: cover; 
}

.info-item-1, .info-item-2, 
.info-item-3, .info-item-4 {
    grid-column: 1;
    justify-self: center;
}

.info-item-1 {
    grid-row: 2;

}

.info-item-2 {
    grid-row: 3;
    align-self: center;
}

.info-item-3 {
    grid-row: 1;
    font-size: 1.4rem;
}

.info-item-4 {
    grid-row: 4;
}

.style-th {
    font-size: 1.2rem;
}

.style-td {
    font-size: 1rem;
}