.logo-container {
    max-width: 1440px;
    margin: auto;
}

.logo, .logo-small, .logo-medium, .logo-big {
    font-family: Audiowide;
    text-align: center;
}

.logo-small, .logo-medium, .logo-big {
text-transform: uppercase;
}

.logo-small {
    font-size: 1.1rem;
    line-height: 0.9rem; 
}

.logo-big {
    font-size: 2rem;
    line-height: 1.6rem;
    padding: 3.5rem 0rem;
    margin: auto;
    text-align: center;
}