@media only screen and (max-width: 766px) {
    .hide-on-mobile {
        display: none;
    }

    .welcome-banner img {
        order: 0;
    }
    
    .slogan {
        order: -1;
    }

    .info-banner img {
        height: 250px;
        max-width: 300px;
        margin: auto;
    }

    .support-item-2 p {
        font-size: .9rem;
    }

}


@media only screen and (min-width: 767px) {
    
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.8rem;
    }
    
    p {
        font-size: 1.1rem;
    }

    .header-container .hide-on-desktop {
        display: none;
    }

    header {
        font-size: 1.1rem;
    }

    .logo-big {
        padding: 4rem 0;
    }


    /*Dropdown Menu */

    .dropdown nav {
        position: absolute;
        background-color: var(--theme-color-orange);
        top: 72px;
        margin: auto;
        padding: 0;
        width: 100vw;
        /* left: auto; */
        right: 0;
    }

    .dropdown-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(auto, auto);
        max-width: 600px;
        gap: 1rem;
        padding: 2rem 0;
        margin: auto;
     }

     .dropdown-item-1 {
        grid-column: 1; 
        grid-row: 1;
    }

    .dropdown-item-2 {
        grid-column: 1; 
        grid-row: 2;
    }

    .dropdown-item-3 {
        grid-column: 1; 
        grid-row: 3;
    }

    .dropdown-item-4 {
        grid-column: 1; 
        grid-row: 4;
    }

    .dropdown-item-5 {
        grid-column: 1; 
        grid-row: 5;
    }

    .dropdown-item-6 {
        grid-column: 1; 
        grid-row: 6;
    }

    .dropdown-item-7 {
        grid-column: 1; 
        grid-row: 7;
    }

    .dropdown-item-8 {
        grid-column: 1; 
        grid-row: 8;
    }

    .dropdown-item-9 {
        grid-column: 2; 
        grid-row: 1;
    }

    .dropdown-item-10 {
        grid-column: 2; 
        grid-row: 2;
    }


    /*Home*/

    /*--Welcome Banner*/

    .welcome-banner {
        display: grid;
        grid-template-columns: 60% 1fr;
        grid-template-rows: 1fr 1fr;
        gap: .5rem;
        margin: auto;
        padding: 2rem 1.5rem;
    }

    .welcome-banner img {
        max-width: 766px;
        max-height: 510px;
        width: 100%;
        grid-column: 1;
        grid-row: 1/3;
        align-items: center;
        justify-items: center;
    }
    
    .slogan {
        padding: 0;
        margin: auto;
        line-height: 2.2rem;
        font-size: 2.5rem;
    }

    .welcome-banner button {
        width: 80%;
    }


    /*--Logo Home */

    .logo-big {
        font-size: 2.5rem;
        line-height: 2rem;
        padding: 4.5rem 0rem;
    }


    /*--Info Banner*/

    .info-banner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 72% 1fr;
        gap: 2rem;
        padding: 3rem;
        margin: auto;
    }

    .info-item-1 {
        order: -1;
        display: flex;
        position: relative;
    }
    
    .info-item-1 img {
        display: block;
        width: 100%;
        max-height: 14rem;
    }
    
    .info-item-1 {
        grid-column: 1;
        grid-row: 1;
        justify-content: start;
    }
    
    .info-item-2 {
        grid-column: 2/4;
        grid-row: 1;
        justify-self: center;
        align-self: self-start;
    }
    
    .info-item-3 {
        grid-column: 1;
        grid-row: 2;
        justify-self: center;
        align-self: center;
        margin-left: 1rem;
        font-size: 1.2rem;
    }
    
    .info-item-4 {
        grid-column: 2;
        grid-row: 2;                      
        justify-self: center;       
        align-self: center;
    }

    .style-th {
        font-size: 1.4rem;
    }

    .style-td {
        font-size: 1.3rem;
    }


    /*--Special Events*/

    .special-events {
        padding: 1rem;
    }


    /*Exhibitions*/

    .exh-item {
        padding: 1rem 3rem;
    }

    .exh-item img {
        order: 1;
        padding: 1.5rem 0;
        width: 600px;
    }

    .exh-item div, .exh-item img {
        max-width: 600px;
        margin: auto;
    }


    /*Contribute*/

    .contribute > div  {
        padding: 3rem 0;
    }

    .contribute .hide-on-mobile {
        display: none;
    }

}


@media only screen and (min-width: 1000px) {

    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2.1rem;
    }

    h3 {
        font-size: 1.8rem;
    }
    
    p {
        font-size: 1.125rem;
    }

    /*Dropdown Menu*/

    .dropdown > nav {
        right: 0px;
    }

    .dropdown-button {
        min-height: 2.5rem;
        font-size: 1.5rem;
    }

    .button-category {
        min-height: 2rem;
        font-size: 1.5rem;
    }


    /*Home*/

    /*--Welcome Banner*/
    
    .slogan {
        font-size: 3.5rem;
        line-height: 3.2rem;
    }

    .welcome-banner a{
        width: 330px;
        height: 60px;
        font-size: 1.6rem;
    }


    /*Logo*/

    .logo-home {
        font-size: 2rem;
        line-height: 1.6rem;
        padding: 3rem 0;
    }
    

    /*--Info Banner*/

    .info-banner {
        display: grid;
        grid-template-columns: 2fr 1.4fr 1fr;
        grid-template-rows: 1fr 20%;
        gap: 2rem;
        padding: 4.5rem;
        margin: auto;
    }
    
    .info-item-1 {
        grid-column: 1;
        grid-row: span 2;
        justify-content: start;
    }

    .info-item-1 img {
        display: block;
        width: 100%;
        max-height: 20rem;
        object-position: center;
    }

    .info-item-2, .info-item-3, .info-item-4 {
        justify-self: center;
    }
    
    .info-item-2 {
        grid-column: 2;
        grid-row: 1;
        align-self: self-start;
    }
    
    .info-item-3 {
        grid-column: 2;
        grid-row: 2;
        align-self: self-end;
        font-size: 1.2rem;
        margin: 0;
    }
    
    .info-item-4 {
        grid-column: 3;
        grid-row: 1/3;                              
        align-self: center;
    }   
    
    .style-td > tr > td {
        font-size: 1.125rem;
    }
    
    
    /*--Special Events*/

    .special-events {
        padding: 4.5rem;
    }

    .event-grid {
        padding: 1.5rem;
    }

    .scroller {
        gap: 1rem;
        padding: 0;
        grid-auto-columns: 1fr 1fr 1fr;
        max-width: 1440px;
        overflow-x: hidden;
        overscroll-behavior-inline:none;
    }
    .special-events h2 {
        padding: 0 0 1rem 0;
    }
    
    .event-date {
        margin-top: auto;           /*why doesn't align-self or -items work*/
    }


    /*Headings*/

    .heading {
        padding: 3rem 0 2rem 0;
    }


    /*Exhibitions*/

    .exh-item {
        padding: 2rem 3rem;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .exh-item-1 img, .exh-item-3 img, .exh-item-5 img {
        order: 1;
        padding: 0 0 0 3rem;
    }

    .exh-item-2 img, .exh-item-4 img {
        order: 0;
        padding: 0 3rem 0 0 ;
    }

    .exh-item h2 {
        padding-top: 1rem;
        text-transform: uppercase;
        padding: 0;
    }
    
    .exh-item p {
        padding-top: .7rem;
    }
    
    .exh-item img {
        aspect-ratio: 2.7 / 2;
        max-width: 425px;
        margin: 0;
    }

    .exh-item div {
        max-width: 667px;
        margin: 0;
    }


    /*Contribute*/

    .contribute {
        max-width: 1440px;
        margin: auto;
    }
    
    .join {
        background-color: var(--theme-color-light);
        display: flex;
        flex-direction: row;
        padding: 5rem 1.5rem 0 1.5rem;
        gap: 2rem;
    }
    
    .volunteer {
        border: 3px solid var(--theme-color-purple);
    }
    
    .intern {
        border: 3px solid var(--theme-color-red);
    }
    
    .volunteer, .intern {
        padding: 1rem 3rem 2rem 3rem;
        flex: 1;
    }
    
    .join h2 {
        padding-top: .5rem;
    }
    
    .join p {
        padding-top: 1rem;
    }
    
    .contribute .hide-on-desktop {
        display: none
    }

    .contribute .hide-on-mobile {
        display: flex;
    }

    .support {
        display: grid;
        grid-template-columns: 60% 1fr;
    }

    .support-item-1, .support-item-2 {
        display: grid;
        grid-template-rows: 7ch 5ch 12ch 12ch;
        padding: 1.5rem;
    }

    .support-item-a {
        grid-row: 1;
    }

    .support-item-b {
        grid-row: 2;
    }

    .support-item-c, .support-item-e {
        grid-row: 3;
    }

    .support-item-d, .support-item-f {
        grid-row: 4;
    }


    /*Visit Us*/

    .about {
        display: grid;
        grid-template-columns: 25% 1fr;
        grid-template-rows: 1fr;
        padding: 2rem 1.5rem;
    }
    
    .about-item-1 {
        grid-column: 1;
        grid-row: 1;
    }
    
    .about-item-2 {
        grid-column: 2;
    }
    
    .about .logo {
        padding: 0;
        font-size: 2rem;
        line-height: 1.6rem;
    }
    
    .about-item-2 > p {
        padding-bottom: 1rem;
    }


    /*Footer*/

    footer {
        font-size: 0.88rem;
    }
    
    .footer-grid {
        display: grid;
        grid-template-columns: 20% 1fr 1fr 1fr 20%;
        grid-template-rows: repeat(4, auto);
        gap: 1rem;
    }

    .footer-item-1 {
        grid-column: 3;
        grid-row: 1;
        justify-self: center;
        align-self: start;
    }

    .footer-item-2 {
        grid-column: 1;
        grid-row: span 4;
        justify-self: start;
        align-self: end;
    }

    .footer-item-3 {
        grid-column: 2;
        grid-row: 4;
        justify-self: start;
        align-self: end;
    }

    .footer-item-4 {
        grid-column: 4;
        grid-row: 4;
        justify-self: end;
        align-self: end;
    }

    .footer-item-5 {
        grid-column: 5;
        grid-row: 4;
        justify-self: end;
        align-self: start;
    }

    .footer-item-6 {
        grid-column: 5;
        grid-row: 4;
        justify-self: end;
        align-self: end;
    }

    .footer-item-7 {
        display: inline-flex;
        grid-column: 3;
        grid-row: 4;
        justify-self: center;
        align-self: end;
        gap: 1.5rem;
        font-size: 1.4rem;
    }

    address {
        text-align: left;
    }

    .logo-footer {
        padding: 2rem;
        margin: 0 0 3rem 0;
        font-size: 1.3rem;
        line-height: 1rem;
    }
}

