@media only screen and (max-width: 766px) {
    .hide-on-mobile, .contact-desktop-view {
        display: none;
    }

    .info-banner img {
        height: 250px;
        max-width: 300px;
        margin: auto;
    }

    .support-item-2 p {
        font-size: .9rem;
    }

    /* .support-hide-on-mobile {
        display: none;
        padding: 3rem 0;
    } */

}


@media only screen and (min-width: 767px) {
    
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.8rem;
    }
    
    p {
        font-size: 1.1rem;
        line-height: 1.6rem;
    }

    .header-container .hide-on-desktop, .contact-mobile-view {
        display: none;
    }

    header {
        font-size: 1.1rem;
    }

    .logo-big {
        padding: 4rem 0;
    }


    /*Dropdown Menu */

    .dropdown nav {
        border-radius: 0px;
        margin: auto;
        padding: 0;
        max-width: 1280px;
        width: 100vw;
    }

    .dropdown-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(auto, auto);
        max-width: 600px;
        gap: 1rem;
        padding: 2rem 0;
        margin: auto;
     }

     .dropdown-item-1 {
        grid-column: 1; 
        grid-row: 1;
    }

    .dropdown-item-2 {
        grid-column: 1; 
        grid-row: 2;
    }

    .dropdown-item-3 {
        grid-column: 1; 
        grid-row: 3;
    }

    .dropdown-item-4 {
        grid-column: 1; 
        grid-row: 4;
    }

    .dropdown-item-5 {
        grid-column: 1; 
        grid-row: 5;
    }

    .dropdown-item-6 {
        grid-column: 1; 
        grid-row: 6;
    }

    .dropdown-item-7 {
        grid-column: 1; 
        grid-row: 7;
    }

    .dropdown-item-8 {
        grid-column: 1; 
        grid-row: 8;
    }

    .dropdown-item-9 {
        grid-column: 2; 
        grid-row: 1;
    }

    .dropdown-item-10 {
        grid-column: 2; 
        grid-row: 2;
    }


    /*Home*/

    /*--Welcome Banner*/

    .welcome-banner {
        display: grid;
        grid-template-columns: 60% 1fr;
        grid-template-rows: 1fr 1fr;
        gap: .5rem;
        margin: auto;
        padding: 2rem 1.5rem;
    }

    .welcome-banner img {
        max-width: 766px;
        max-height: 510px;
        width: 100%;
        grid-column: 1;
        grid-row: 1/3;
        justify-items: center;
    }
    
    .slogan {
        padding: 0;
        margin: auto;
        line-height: 2.2rem;
        font-size: 2.5rem;
    }

    .welcome-banner button {
        width: 80%;
    }


    /*--Logo Home */

    .logo-big {
        font-size: 2.5rem;
        line-height: 2rem;
        padding: 4.5rem 0rem;
    }


    /*--Info Banner*/

    .info-banner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 72% 1fr;
        gap: 2rem;
        padding: 3rem;
        margin: auto;
    }

    .info-item-1 {
        order: -1;
        display: flex;
        position: relative;
    }
    
    .info-item-1 img {
        display: block;
        width: 100%;
        max-height: 14rem;
        object-position: center;
    }
    
    .info-item-1 {
        grid-column: 1;
        grid-row: 1;
        justify-content: start;
    }
    
    .info-item-2 {
        grid-column: 2/4;
        grid-row: 1;
        justify-self: center;
        align-self: self-start;
    }
    
    .info-item-3 {
        grid-column: 1;
        grid-row: 2;
        justify-self: center;
        align-self: center;
        margin-left: 1rem;
        font-size: 1.2rem;
    }
    
    .info-item-4 {
        grid-column: 2;
        grid-row: 2;                      
        justify-self: center;       
        align-self: center;
    }

    .style-th {
        font-size: 1.4rem;
    }

    .style-td {
        font-size: 1.3rem;
    }


    /*--Special Events*/

    .special-events {
        padding: 1rem;
    }


    /*Exhibitions*/

    .exh-item img {
        order: 1;
        padding: 1.5rem 0;
        aspect-ratio: 2.5 / 2;
    }

    .exh-item article, .exh-item img {
        max-width: 425px;
        margin: auto;
    }


    /*Contribute*/

    .support-item-2 h3 {
        font-size: 1.1rem;
    }


    /*Visit Us*/

    .visit-mobile-view {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .visit-container {
        width: 100%;
        padding: 1rem 10rem;
    }


    .visit-mobile-view table {
        font-size: 1.1rem;
    }


    .museum {
        display: flex;
        flex-direction: column;
        padding: 4rem 0;
        gap: 2rem;
        align-items: center;
    }
    
    .museum h2 {
        padding-bottom: 1rem;
    }
    
    .museum p {
        padding-top: 1rem;
    }
    
    .cafe, .shop {
        max-width: 370px;
        width: 100%;
    }


    /*Explore with us*/

    .clubs {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        padding: 2rem 1rem;
    }

    .holiday, .stars {
        display: flex;
        flex-direction: column;
        border: solid 3px;
        border-radius: 3px;
        flex-basis: 15rem;
        flex-shrink: 2;
        flex-grow: 1;
        height: 100%;
        min-height: 670px;
        padding: 1.5rem;
        gap: 1rem;
    }

    .holiday {
        border-color: var(--theme-color-purple);
    }
    
    .stars {
        border-color: var(--theme-color-red);
    }

    .kids-item-1, .kids-item-2, .kids-item-3 {
        flex-direction: row;
        padding: 2rem;
        margin: 0;
        width: 100%;
    }

    .kids-item-1 img, .kids-item-3 img {
        order: 0
    }
    
    .kids-item-2 img {
        order: 2
    }
    
    figure img {
        max-width: 55%;
        aspect-ratio: 5/3;
        object-fit: cover;
    }
    
    figcaption {
        font-family: 'Open Sans';
        font-size: 1.2rem;
        align-self: center;
        padding: 0 2rem 1rem 2rem;
    }
    
    .kids-item-4 {
        padding: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    

    /*Contact us*/

    .contact-desktop-view {
        display: grid;
        grid-template-columns: 30% 1fr;
    }

    .contact-col-1, .contact-col-2 {
        display: inherit;
        grid-template-rows: 5rem 2rem 2rem;
        gap: 1rem;
        align-items: start;
    }

    .contact-col-1 {
        justify-content: end;
        padding: 3rem 2rem 3rem 0;
    }

    .contact-col-2 {
        justify-content: start;
        padding: 3rem 0 3rem 1rem;
    }

    .contact-item-1, .contact-item-2, .contact-item-3 {
        grid-column: 1;
        font-size: 1.2rem;
        padding-top: .3rem;
    }

    .contact-item-4, .contact-item-5, .contact-item-6 {
        grid-column: 2;
    }

    .contact-item-1, .contact-item-4 {
        grid-row: 1;
    }

    .contact-item-2, .contact-item-5 {
        grid-row: 2;
    }

    .contact-item-3, .contact-item-6 {
        grid-row: 3;
    }


    /*Terms, Privacy*/

    .doc-header {
        padding: 3rem 0 1.5rem;
    }
    
    .doc-headings {
        flex-direction: row;
        justify-content: space-around;
        padding: 3rem 1rem 0 1rem;
    }

    .doc-headings > a {
        font-size: 1.8rem;
    }

    .doc-container {
        padding: 5rem 1rem 1rem 7rem;
    }

    details {
        padding: .5rem 0rem 1rem 0rem;
    }

}


@media only screen and (min-width: 1000px) {

    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2.1rem;
    }

    h3 {
        font-size: 1.8rem;
    }
    
    p {
        font-size: 1.125rem;
        line-height: 1.7rem;
    }

    header {
        font-size: 1.125rem;
    }
    

    /*Dropdown Menu*/

    .dropdown-button {
        min-height: 2.5rem;
        font-size: 1.5rem;
    }

    .button-category {
        min-height: 2rem;
        font-size: 1.5rem;
    }


    /*Home*/

    /*--Welcome Banner*/
    
    .slogan {
        font-size: 3.5rem;
        line-height: 3.2rem;
    }

    .welcome-banner a{
        width: 330px;
        height: 60px;
        font-size: 1.6rem;
    }


    /*Logo*/

    .logo-home {
        font-size: 2rem;
        line-height: 1.6rem;
        padding: 3rem 0;
    }
    

    /*--Info Banner*/

    .info-banner {
        display: grid;
        grid-template-columns: 2fr 1.4fr 1fr;
        grid-template-rows: 1fr 20%;
        gap: 2rem;
        padding: 4.5rem;
        margin: auto;
    }
    
    .info-item-1 {
        grid-column: 1;
        grid-row: span 2;
        justify-content: start;
    }

    .info-item-1 img {
        display: block;
        width: 100%;
        max-height: 20rem;
        object-position: center;
    }

    .info-item-2, .info-item-3 {
        justify-self: self-start;
    }
    
    .info-item-2 {
        grid-column: 2;
        grid-row: 1;
        align-self: self-start;
    }
    
    .info-item-3 {
        grid-column: 2;
        grid-row: 2;
        align-self: self-end;
        font-size: 1.2rem;
        margin: 0;
    }
    
    .info-item-4 {
        grid-column: 3;
        grid-row: 1/3;                              
        align-self: center;
        justify-self: center;
    }   
    
    .style-td > tr > td {
        font-size: 1.125rem;
    }
    
    
    /*--Special Events*/

    .special-events {
        padding: 4.5rem;
    }

    .event-grid {
        padding: 1.5rem;
    }

    .scroller {
        gap: 1rem;
        padding: 0;
        grid-auto-columns: 1fr 1fr 1fr;
        max-width: 1280px;
        overflow-x: hidden;
        overscroll-behavior-inline:none;
    }
    .special-events h2 {
        padding: 0 0 1rem 0;
    }
    
    .event-date {
        margin-top: auto;           /*why doesn't align-self or -items work*/
    }


    /*Headings*/

    .heading {
        padding: 3rem 0 2rem 0;
    }


    /*Exhibitions*/

    .exh-item {
        padding: 2rem 3rem;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .exh-item-1 img, .exh-item-3 img, .exh-item-5 img {
        order: 1;
        padding: 0 0 0 3rem;
    }

    .exh-item-2 img, .exh-item-4 img {
        order: 0;
        padding: 0 3rem 0 0 ;
    }

    .exh-item h2 {
        padding-top: 1rem;
        text-transform: uppercase;
        padding: 0;
    }
    
    .exh-item p {
        padding-top: .7rem;
    }
    
    .exh-item img {
        aspect-ratio: 2.7 /2;
        max-width: 425px;
        height: 100%;
        margin: 0;
    }

    .exh-item article {
        max-width: 667px;
        margin: 0;
    }


    /*Contribute*/

    .join {
        background-color: var(--theme-color-light);
        display: flex;
        flex-direction: row;
        padding: 5rem 1.5rem 0 1.5rem;
        gap: 2rem;
    }
    
    .volunteer {
        border: 3px solid var(--theme-color-purple);
    }
    
    .intern {
        border: 3px solid var(--theme-color-red);
    }
    
    .volunteer, .intern {
        padding: 1rem 3rem 2rem 3rem;
        flex: 1;
    }
    
    .join h2 {
        padding-top: .5rem;
    }
    
    .join p {
        padding-top: 1rem;
    }
    
    .support-hide-on-desktop {
        display: none;
    }

    .support-hide-on-mobile {
        display: flex;
    }

    .support {
        display: grid;
        grid-template-columns: 60% 1fr;
    }

    .support-item-1, .support-item-2 {
        display: grid;
        grid-template-rows: 7ch 5ch 12ch 13ch;
        padding: 1.5rem;
    }

    .support-item-2 h3 {
        font-size: 1.125rem;
    }

    .support-item-a {
        grid-row: 1;
    }

    .support-item-b {
        grid-row: 2;
    }

    .support-item-c, .support-item-e {
        grid-row: 3;
    }

    .support-item-d, .support-item-f {
        grid-row: 4;
    }


    /*Visit Us*/

    .about {
        display: grid;
        grid-template-columns: 30% 1fr;
        grid-template-rows: 1fr;
        padding: 2rem 1.5rem;
    }
    
    .about-item-1 {
        grid-column: 1;
        grid-row: 1;
    }
    
    .about-item-2 {
        grid-column: 2;
        padding-right: 6rem;
    }
    
    .about .logo {
        padding: 0;
        font-size: 2rem;
        line-height: 1.6rem;
    }
    
    .about-item-2 > p {
        padding-bottom: 1rem;
    }

    .visit-mobile-view {
        display: none;
    }

    .visit-desktop-view {
        display: grid;
        grid-template-columns: 30% 1fr 30%;
        gap: 0;
    }
    
    .visit-col-1, .visit-col-2, .visit-col-3 {
        padding: 2rem 1.5rem;
        display: inherit;
        grid-template-rows: 2rem 10rem 12rem 2rem 7rem 7rem 7rem;
        gap: 1rem;
    }

    .visit-col-3 {
        padding: 2rem 1.5rem 2rem 0rem;
    }

    .visit-col-1 {
        background-color: var(--theme-color-red);
    }

    .visit-col-2, .visit-col-3 {
        background-color: var(--theme-color-purple);
    }
    
    .visit-item-a, .visit-item-e {
        grid-row: 1;
    }

    .visit-item-b, .visit-item-g {
        grid-row: 3;
    }

    .visit-item-c, .visit-item-h {
        grid-row: 4;
    }

    .visit-item-d, .visit-item-k {
        grid-row: 7;
    }
    
    .visit-item-f {
        grid-row: 2;
    }
        
    .visit-item-i {
        grid-row: 5;
    }

    .visit-item-j, .visit-item-m {
        grid-row: 6;
    }

    .visit-item-l {
        grid-row: 1/4;
    }
        
    .visit-col-1 h3 {
        font-size: 1.4rem;
    }

    .visit-item-g table {
        font-size: 1.125rem;
    }

    .visit-item-m {
        justify-self: center;
    }


    .museum {
        display: flex;
        flex-direction: row;
        background-color: var(--theme-color-blue);
        padding: 4rem 0;
        gap: 10rem;
        margin: auto;
        justify-content: center;
        align-items: start;
    }
    
    .museum h2 {
        padding-bottom: 1rem;
    }
    
    .museum p {
        padding-top: 1rem;
    }
    
    .cafe, .shop {
        max-width: 370px;
        width: 100%;
    }


    /*Explore with us*/

    .kids-banner {
        padding: 3rem 1.5rem;
        gap: 2rem;
    }
    
    .kids-banner h2 {
        padding-bottom: 2rem;
    }
    
    .kids-banner p {
        font-size: 1.5rem;
        align-self: center;
    }

    .clubs {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
        padding: 3rem 2.5rem;
    }
    
    .holiday, .stars {
        display: flex;
        flex-direction: column;
        border: solid 3px;
        border-radius: 3px;
        height: 700px;
        padding: 1.5rem 3rem 2rem 3rem;
        gap: 1rem;
    }

    .holiday {
        border-color: var(--theme-color-purple);
    }
    
    .stars {
        border-color: var(--theme-color-red);
    }

    /* .holiday a {
        margin-top: 2rem;
    } */

    figcaption {
        font-size: 1.7rem;
    }

    .kids-item-4 a {
        width: 330px;
        height: 60px;
        font-size: 1.6rem;
    }

    .explore-banner {
        padding: 2rem;
    }

    .explore-info {
        padding: 3rem 0;
    }

    .explore-info a {
        margin: 4rem 0 0 0;
    }


    /* Contact Us*/

    form > label {
        font-size: 1.125rem;
    }


    /*Terms, Privacy*/

    .doc-container {
        padding: 5rem 6rem 0rem 12rem;
    }

    .doc-headings > a {
        font-size: 2.1rem;
    }


    /*Footer*/

    footer {
        font-size: .9rem;
    }
    
    .footer-grid {
        display: grid;
        grid-template-columns: 22% 1fr 1fr 1fr 22%;
        grid-template-rows: repeat(4, auto);
        gap: 1rem;
    }

    .footer-item-1 {
        grid-column: 3;
        grid-row: 1;
        justify-self: center;
        align-self: start;
    }

    .footer-item-2 {
        grid-column: 1;
        grid-row: span 4;
        justify-self: start;
        align-self: end;
    }

    .footer-item-3 {
        grid-column: 2;
        grid-row: span 4;
        justify-self: start;
        align-self: end;
    }

    .footer-item-4 {
        grid-column: 4;
        grid-row: 4;
        justify-self: end;
        align-self: end;
    }

    .footer-item-5 {
        grid-column: 5;
        grid-row: 3;
        justify-self: end;
        align-self: start;
    }

    .footer-item-6 {
        grid-column: 5;
        grid-row: 4;
        justify-self: end;
        align-self: end;
    }

    .footer-item-7 {
        display: inline-flex;
        grid-column: 3;
        grid-row: 4;
        justify-self: center;
        align-self: end;
        gap: 1.5rem;
        font-size: 1.4rem;
    }

    footer address {
        text-align: left;
    }

    .logo-footer {
        padding: 2rem;
        margin: 0 0 3rem 0;
    }
}

