.special-events {
    background-color: var(--theme-color-blue);
    max-width: 1280px;
    padding: 1rem .5rem;
    margin: auto;
}

.scroller {
    display: grid;
    gap: .5rem;
    grid-auto-flow: column;
    grid-auto-columns: 17rem;
    padding: 0;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    /* max-height: 45rem; */
    /* max-width: 1000px; */
}

.event-grid {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 30rem;
    padding: .5rem;
}

.event-item-1, .event-item-2, .event-item-3 {
    border: 2px solid;
    border-radius: 3px;
}

.event-item-1 {
    border-color: var(--theme-color-red);
}

.event-item-2 {
    border-color: var(--theme-color-yellow);
}

.event-item-3 {
    border-color: var(--theme-color-orange);
}

.event-item-1 img, .event-item-2 img, .event-item-3 img {
    inline-size: 100%;
    aspect-ratio: 1.5 / 1;
    object-fit: cover;
    order: -2;
}

.special-events > h2, h3 {
    font-weight: normal;
}

.special-events h2 {
    padding: 1rem 0;
}

.special-events h3 {
    padding: .8rem 0 .5rem 0;
}

.special-events p {
    padding: .5rem 0 .5rem 0;
}

.event-date {
    margin-top: auto;           /*why doesn't align-self or -items work*/
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem;
}

.snaps-inline > * {
    scroll-snap-align: start;
}

