.main-container {
    max-width: 1280px;
    margin: auto;
}

.doc-header {
    padding: 1rem 0 1.5rem;
}

.doc-headings {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    align-items: center;
    padding: 2rem .5rem 0 .5rem;
}

.doc-headings li {
    list-style: none;
}

.doc-headings li a {
    font-family: Marvel;
    font-weight: normal;
    font-size: 1.4rem;   
}

.doc-container {
    padding: 1rem .5rem 2rem .5rem;
}

.doc-container h2 {
    padding-bottom: 1.5rem;
}

.doc-container details summary {
    list-style: none;
    cursor: pointer;
    padding-bottom: .5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

summary::-webkit-details-marker { 
    display: none 
}

details {
    padding: .5rem 0rem;
}

.doc-contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem .5rem 0rem 0rem;
}

.doc-contact > p:nth-child(6) {
    padding: 1.5rem 0rem;
}

.doc-container ul li {
    padding-bottom: 1rem;
}

.doc-container ul li:last-child {
    padding-bottom: 0rem;
}

/*sjekk om disse funker*/

.doc-contact p:nth-child(5), .doc-contact p:nth-child(7) {
    padding-bottom: 1rem;
}

.doc-contact:last-child {
    padding: 1rem 0 1rem 0;
}

details:not([open]) summary i.down {
    display: none !important;
}

details[open] summary i.right {
    display: none !important;
}


