.visit-us {
    max-width: 1280px;
    margin: auto;
}

.about {
    display: flex;
    flex-direction: column;
    padding: 1rem .5rem;
    gap: 1rem;
}

.about-item-1 {
    order: 0;
}

.about-item-2 {
    order: -1;
}

.about .logo {
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 1.2rem;
}

.about-item-2 > p {
    padding-bottom: 1rem;
}

.visit-desktop-view {
    display: none;
}

.visit-container {
    padding: 1rem .5rem;
}

.visit-container h2, .visit-container p {
    padding-bottom: 1rem;
}

.visit-col-1 h2 {
    font-size: 1.4rem;
}

.adm-btn {
    align-self: center;
}

iframe {
    width: 100%;
}

.museum {
    display: flex;
    flex-direction: column;
    background-color: var(--theme-color-blue);
    padding: 1rem .5rem 2rem .5rem;
    gap: 2rem;
}

.museum h2 {
    padding-bottom: 1rem;
}

.museum p {
    padding-top: 1rem;
}

.cafe img, .shop img {
    width: 100%;
    object-fit: cover;
    height: 268px;
}