.visit-us {
    max-width: 1440px;
    margin: auto;
}

.about {
    display: flex;
    flex-direction: column;
    padding: 1rem .5rem;
    gap: 1rem;
}

.about-item-1 {
    order: 0;
}

.about-item-2 {
    order: -1;
}

.about .logo {
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 1.2rem;
}

.about-item-2 > p {
    padding-bottom: 1rem;
}

.visit {
    display: grid;
    grid-template-columns: 30% 1fr 30%;
}

.visit-col-1, .visit-col-2, .visit-col-3 {
    padding: 2rem 1.5rem;
    display: inherit;
    grid-template-rows: 5ch 10ch 25ch 10ch 10ch 10ch 10ch;
    gap: 1rem;
}

.visit-item-a, .visit-item-e {
    grid-row: 1;
}

.visit-item-f {
    grid-row: 2;
}

.visit-item-b, .visit-item-g {
    grid-row: 3;
}

.visit-item-c, .visit-item-h {
    grid-row: 4;
}

.visit-item-d, .visit-item-k {
    grid-row: 7;
}

.visit-item-i {
    grid-row: 5;
}

.visit-item-l {
    grid-row: 1;
}

.visit-item-j, .visit-item-m {
    grid-row: 6;
}


.visit-col-1 h3 {
    font-size: 1.4rem;
}

iframe {
    width: 100%;
}