.bg-color-blue {
    background-color: var(--theme-color-blue);
}

.bg-color-orange {
    background-color: var(--theme-color-orange);
}

.bg-color-red {
    background-color: var(--theme-color-red);
}

.bg-color-green {
    background-color: var(--theme-color-green);
}

.bg-color-yellow {
    background-color: var(--theme-color-yellow);
}

.bg-color-purple {
    background-color: var(--theme-color-purple);
}

.bg-color-turq {
    background-color: var(--theme-color-turq);
}

.bg-color-light {
    background-color: var(--theme-color-light);
}

.bg-color-dark {
    background-color: var(--theme-color-dark);
}

.bg-color-grey {
    background-color: var(--theme-color-grey);
}