:root {
    --theme-color-blue: #A6D4FF;
    --theme-color-orange: #FFCD84;
    --theme-color-red: #FFA184;
    --theme-color-green: #80E0A6;
    --theme-color-yellow: #FFFFAD;
    --theme-color-purple: #E8B8FF;
    --theme-color-turq: #6BD6C3;
    --theme-color-light: #ECFAEB;
    --theme-color-dark: #000;
    --theme-color-grey: #444847;
    
    --hover-color-grey: #686D6C;
    --hover-color-green: rgb(210, 229, 209);
}

main {
    background-color: var(--theme-color-light);
}

img {
    border-radius: 3px;
}

